<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="" />

  <div class="logo">123</div>

  <div class="desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt vel
    aliquid libero, cumque totam beatae fugiat sed consequuntur nostrum
    molestiae et sequi enim nam ipsa deleniti. Quos, velit atque.
  </div>

  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
